.html, body {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans';
}


/*HEADER - NAVBAR------------------------------*/
.navBar {
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.navBar__logo {
    height: 40px;
    margin-left: 50px;
}

.navBar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navBar__menu__item {
    padding: 10px 40px;
}
@media screen and (max-width: 800px) {
    /* Código CSS que solo aplica a pantallas con ancho < 800 */
    .navBar__menu__item {
        display: none;
    }
}

.navBar__menu a {
    font-weight: blod;
    text-decoration: none;
}

.navBar__menu__item:last-child {
    background-color: magenta;
    color: white;
    border-radius: 5px;
    margin-right: 50px;
}


/*SECTION - WELCOME------------------------------*/
.welcome {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;

    position: relative;
}

.welcome__backbround {
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome__text {
    color: white;
    padding-left: 80px;
    width: 60%;

    position: absolute;
}

.welcome__text h1 {
    font-size: 50px;
}

/*SECTION - PRODUCTS------------------------------*/
.products {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products__tittle {
    width: 830px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.products__content {
    display: flex;
    width: 1040px;
    max-width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.products__content__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 700px;
    padding: 0;
    justify-content: space-evenly;
}

.products__content__list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 330px;
    margin: 5px 0;
    padding: 0 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 5px;
}

.products__content__times {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

.products__content__times__item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.products__content__times__item__img {
    width: 50px;
    height: 50px;
}

/*SECTION - PARTNERS------------------------------*/
.partners {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.partners__textContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.partners__textContent__title {
    padding-left: 20px;
    width: 40%;
}
@media screen and (max-width: 800px) {
    /* Código CSS que solo aplica a pantallas con ancho < 800 */
    .partners__textContent__title {
        width: 80%;
    }
}

.partners__textContent__text {
    width: 40%;
    padding-left: 20px;
}
@media screen and (max-width: 800px) {
    /* Código CSS que solo aplica a pantallas con ancho < 800 */
    .partners__textContent__text {
        width: 80%;
    }
 }


.partners__list {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 1500px;
}

.partners__list__item {
    display: flex;
    height: 80px;
    width: 180px;
    margin: 40px;
}

.partners__list__item__image {
    width: 100%;
    object-fit: contain;
}


/*SECTION - OPINIONS------------------------------*/
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.testimonials__list__item {
    max-width: 100%;
    min-width: 320px;
    height: 300px;
    padding-left: 50px;
    margin: 3px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.testimonials__list__item > p {
    display: flex;
}

.testimonial-a {
    background-image: linear-gradient(0deg, black -20%, transparent 50%), url("../assets/images/testimonials/elena_martin.jpg");

}
.testimonial-b {
    
    background-image: linear-gradient(0deg, black -20%, transparent 50%), url("../assets/images/testimonials/testimonial_1.jpg");
}
.testimonial-c {
    
    background-image: linear-gradient(0deg, black -20%, transparent 50%), url("../assets/images/testimonials/carmen_mallado.jpg");
}
.testimonial-d {
    
    background-image: linear-gradient(0deg, black -20%, transparent 50%), url("../assets/images/testimonials/alberto_torres.jpg");
}


/*SECTION - BOOTCAMPS------------------------------*/
.bootcamp {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bootcamp__presentation {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bootcamp__presentation__text{
    min-width: 520px;
    width: 30%;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bootcamp__infoButton {
    height: 40px;
    width: 220px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.bootcamp__list {
    margin: 50px 0 0 0;
    padding: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

.bootcamp__list__item {
    display: flex;
    width: 45%;
    padding: 20px;
    height: 400px;
    flex-direction: column;
    align-content: end;
    background-size: cover;
    background-position: center;
    color: white;
}
@media screen and (max-width: 800px) {
    /* Código CSS que solo aplica a pantallas con ancho < 800 */
    .bootcamp__list__item {
        width: 80%;
    }
}


.bootcamp__list__item > div {
    align-self: flex-end;
    padding: 0 10px;
    max-width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: orange;
    display: flex;
    align-items: center;
}

.fullstack_background {
    background-image: url("../assets/images/bootcamps/fullstack-img-chooser.jpg");
}
.cibersegurity_background {
    background-image: url("../assets/images/bootcamps/ciber-img-chooser.jpg");
}
.UXUI_background {
    background-image: url("../assets/images/bootcamps/uxui-img-chooser.jpg");
}
.front_background {
    background-image: url("../assets/images/bootcamps/frontend-img-chooser.jpg");
}

/*SECTION - CHOOSE------------------------------*/
.choose {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    padding-top: 20px;
}

.choose__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choose__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.choose__list__item {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 5px;
    min-width: 300px;
}


/*HEADER - INFO------------------------------*/
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    color: white;
    flex-wrap: wrap;
    padding: 20px 0;
}

.info__text {
    width: 45%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 800px) {
    /* Código CSS que solo aplica a pantallas con ancho < 800 */
    .info__text {
        width: 80%;
    }
}

.info__formulary {
    width: 45%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 800px) {
    /* Código CSS que solo aplica a pantallas con ancho < 800 */
    .info__formulary {
        width: 80%;
    }
}

.info__formulary__inputzone {
    display: flex;
    flex-direction: column;
    border: none;
}

.info__formulary__inputzone__input {
    display: flex;
    height: 30px;
    border-radius: 5px;
}
.info__formulary__submitButton {
    border-style: none;
    border-radius: 5px;
    background-color: lightblue;
    margin-left: 15px;
    padding: 10px 40px;
}

/*HEADER - FOOTER------------------------------*/
.extraInfo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    color: white;
    padding: 50px 0;
}

.extraInfo__direction {
    padding: 0 50px;
}

.extraInfo__direction p {
    text-decoration: underline;
}

.extraInfo__list {
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0 50px;
}

.extraInfo__list__item {
    color: white;
    flex-grow: 1;
}

.extraInfo__social {
    padding: 0 50px;
}
